<main>
    <div class="apropos-contenaire">
        <div class="apropos" *ngFor="let apropos of apropos" >
            <h1>à propos </h1>
            <h2>Qui sommes-nous ? </h2>
            <h3>Des professionnels passionnés </h3>
            <p>Qui n’a pas un jour rêvé de boire la fameuse potion magique donnant une force surhumaine ? La bande dessinée mettant en scène les habitants du fameux village gaulois d’Armorique luttant contre l’envahissement des romains est pour un bon nombre d’entre nous synonyme de bons moments partagés en famille ou entre amis. </p>
            <p><strong >{{apropos.nameapropos}}  </strong> est une équipe de passionnés qui visent à satisfaire les attentes des personnes nostalgiques des aventures des célèbres Gaulois. Nous avons à cœur de vous proposer des figurines de qualité avec le souci du détail grâce à une fabrication faite main et 100 % made in France. </p>
            <div>
            <h3>Des figurines personnalisables ! </h3>
            <p>Vos héros préférés sont réalisés par des artisans sculpteurs au savoir-faire unique confectionnant des figurines inédites et personnalisables. Ainsi pour chacun des personnages proposés, vous pouvez choisir :</p>
            <ul>
                <li>la taille de votre figurine</li>
                <li>le matériau de fabrication</li>
                <li>le type de socle</li>
            </ul>
            <p>Que l’on soit fan d’un personnage gaulois ou collectionneur, chacun trouve sa figurine exclusive. </p>
            </div>
        </div>
    </div>
    
    <div class="contact-contenaire">
        <div clas="contact">
            <h2>Contact</h2>
            <div>
                <p>E-mail</p>
                  <p><a href="mailto:aupetitvillage@hotmail.com">aupetitvillage&#64;hotmail.com</a></p>
                  <p>Téléphone :</p>
                  <p><a href="tel:0120304050">01 20 62 00 99</a></p>
                  <p >Adresse :</p>
                  <p class="p-adresse">2 Boulevard Saint-Michel <br>75006 Paris</p>
    
            </div>
    
        </div>
    </div>

    
</main>

