<main>
    <div class="apropos-contenaire">
        <div class="apropos" *ngFor="let apropos of apropos" >
            <h1>à propos </h1>
            <h2>Qui sommes-nous ? </h2>
            <h3>Hachette Collections</h3>
            <p>Filiale du groupe Hachette Livre (Lagardère Publishing) fondée en 1995, Hachette Collections est un des principaux éditeurs de produits culturels en série. Le savoir-faire et le soucis du détails accompagnent constamment nos équipes expertes pour vous apporter des collections et produits de qualité sur les thèmes ludiques, historiques et culturels qui vous passionnent le plus.</p>
            <h3>Notre savoir-faire</h3>
            <p>Nous vous proposons des séries variées qui vous permettent de développer une collection complète sur une thématique de votre choix allant des BD, comics et mangas aux maquettes, miniatures automobiles et loisirs créatifs, pour ne citer qu'eux !</p>
            <p>Nos collections les plus célèbres ont déjà convertis plusieurs dizaines de milliers de passionnés. Nous continuons de vous proposer des articles d’une grande qualité éditoriale, au contenu riche, réalisé pour satisfaire tous les profils de passionnés, que vous soyez amateur de loisirs créatifs ou collectionneur aguerri, petit ou grand. Nous proposons régulièrement des objets de collection conçus avec le plus grand soin et avec une attention constante à la qualité de production, pour votre plus grand plaisir !</p>
            <h3>Toutatis, l'é-choppe d'{{apropos.nameapropos}}</h3>
            <p>Hachette Collections met son savoir-faire au service des Gaulois, pour lancer la première boutique officielle d'Astérix. Nous avons développé et sélectionné avec soin des produits d'exception de marques partenaires, pour achalander notre é-choppe. Découvrez vite nos marques partenaires.</p>
            <p></p>
        </div>
    </div>
    <div *ngFor="let apropos of apropos">
        <p>Bonjour {{apropos.nameapropos}}</p>
    </div>
    <div class="contact-contenaire">
        <div clas="contact">
            <h2>Contact</h2>
            <div>
                <p>E-mail</p>
                  <p><a href="mailto:aupetitvillage@hotmail.com">aupetitvillage&#64;hotmail.com</a></p>
                  <p>Téléphone :</p>
                  <p><a href="tel:0120304050">01 20 62 00 99</a></p>
                  <p >Adresse :</p>
                  <p class="p-adresse">2 Boulevard Saint-Michel <br>75006 Paris</p>
    
            </div>
    
        </div>
    </div>

    
</main>

