<main>
  <div class="présentation">
    <div class="contenaire-présentation">
      <h1>Au petit village</h1>
      <p> Plongez dans le monde du plus célèbre village gaulois avec notre collection de figurines 100% faites main et made in France. Vos héros préférés sont réalisés par des artisans sculpteurs au savoir-faire unique proposant des figurines inédites et personnalisables. </p>
    </div>
  </div>
  <div class="contenaire-produit">
    <div>
      <h2 class="h2-produit">Catalogue des produits vendus</h2>
    </div>
    <div>
      <div class="searchproduits">
        <div>
          <h4>Tri par prix :</h4>
          <button  type="button" (click)="onSortDirection()" class="btn btn-primary" id="btn-tri">Tri</button>
        </div>
        <div >
          <h4>Recherche :</h4>
          <input type="text" [(ngModel)]="Filtername">
        </div>
      </div>

    </div>
    
    <div class="produits">
      <div class="container">
          <div class="row ">
            <ng-container *ngFor="let product of products |filterByName :Filtername | sortByPrice:['price', SortDirection]" >
              <div class="card col-md-6 col-lg-4 mb-">
                <div class="contenaire-image-produit">
                  <img class="image-produit-card" src="{{product.imageUrl}}" alt="image-produit">
                </div>
                <h4 >{{product.name}}</h4>
                <p>{{product.description}}</p>
                <ul>
                  <li>{{product.size}}</li>
                  <li> {{product.weight}}</li>
                  <li>{{product.matter}}</li>
                  <li>{{product.madein}}</li>
                  <li>{{product.year}}</li>
                  
                </ul>
                <p class="p-prix"><strong>Prix: </strong>{{product.price}}€</p>
                
                <a routerLink="product/ {{product.name}}  {{product.price}}  {{product.description}} {{product.descriptionCard}}"><button  type="button" class="btn btn-primary">Voir le produit</button></a>
              </div>
            </ng-container>
          </div>
        </div>
  </div>
  
  </div>
</main>